<div class="header-color">
  <nav class="navbar navbar-light justify-content-between">
    <div class="container">
      <a class="navbar-brand logo">Electronic School</a>
    </div>
  </nav>
</div>
<div class="p-5 login-container text-center container w-25 mt-5 col-md-12">
  <div class="justify-content-center">
    <form #loginForm="ngForm" style="max-width: 350px; margin: auto" (ngSubmit)="login(loginForm)">
      <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
      <div class="mt-3">
        <label for="emailAddress" class="sr-only">Email address</label>
        <input ngModel name="username" id="emailAddress" placeholder="Email Address" class="form-control" required>
      </div>
      <div class="mt-3">
        <label class="sr-only">Password</label>
        <input ngModel name="password" type="password" id="password" placeholder="Password" class="form-control" required>
      </div>
      <div class="mt-3">
        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-lg btn-primary w-100">Sign In</button>
      </div>
    </form>
  </div>
</div>
